.ipttxt{height:37px;line-height:37px;border-radius:5px 5px 5px 5px;width:315px;border:1px solid #b3b3b3;}
.green_btn{background:#5fb251;border-radius:5px 5px 5px 5px;border:1px solid #3d810c;color:#fff;padding:5px 10px;*padding:3px 5px;font-size:14px;}
.blue_btn{background:#206dc2;border-radius:5px 5px 5px 5px;border:1px solid #125dae;color:#fff;padding:5px 10px;*padding:3px 5px;font-size:14px;}
.white_btn{background:#e7e6e6;border-radius:5px 5px 5px 5px;border:1px solid #cccccc;padding:5px 10px;*padding:3px 5px;font-size:14px;}
.white_btn2{cursor:position;background:#F3F3F3;border-radius:5px 5px 5px 5px;border:1px solid #C3C3C3;padding:3px 5px;*line-height:1.7;*height:26px;*padding:0 5px;}
 .Btns{border: 1px solid #445588;background-color:#a8ca31;color:#fff;background:url(http://static.solaridc.com/project/51book_fx/wx/images/button_bg2.gif) repeat-x #87BAEF;cursor:pointer ;font-size:12px;padding:3px 15px;text-align:center;}
 .iptfile{border:1px solid #B3B3B3;background:#fff;}
 .v-top{vertical-align:top;margin-top:5px;}
/*模拟select下拉列表*/
.dropdown_menu{display:inline-block;position:relative;line-height:normal;z-index:1000;position:relative;text-align:left;width:315px;font-family:'微软雅黑'}
.sel.dropdown_switch {background-color: #F1F1F1;background-image: linear-gradient(to bottom, #F9F9F9 0px, #F0F0F0 100%);border-color: #C3C3C3;color: #000000;height:37px;line-height: 37px;padding-left: 0;padding-right: 0;text-align: left;width:100%;}
.sel {border-radius:3px;border-style:solid;border-width:1px;cursor:pointer;display:inline-block;font-size:14px;height:37px;line-height:30px;overflow:visible;text-align:left;text-decoration:none;vertical-align:middle;}
.dropdown_switch {color: #000000;line-height:37px;text-align: left;}
.page_user .dropdown_data_list {max-height:100px;}
.dropdown_data_list {z-index:9999;font-size:14px;background-color:#FFFFFF;border:1px solid #C6C6C6;border-radius:3px;box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);display: none;font-size: 14px;left: 0;max-height:150px;_height:165px;width:315px;_width:315px;overflow-x:hidden;overflow-y:auto;position:absolute;top:38px;}
.dropdown_data_item {line-height:37px;height:37px;width:315px;}
.dropdown_data_item a {color:#222222;padding-left:10px;display:inline-block;text-decoration:none;white-space:nowrap;}
.dropdown_switch .arrow {background:url(http://static.solaridc.com/project/51book_fx/wx/images/icon_arrow.gif) no-repeat;border-width:6px 6px 0;display:inline-block;height:6px;margin-top:-3px;position:absolute;right:8px;top:50%;width:12px;}
.jsDropdownItem{text-decoration:none;}
.jsBtLabel{cursor: pointer;display: inline-block;height: 35px;margin-left: 10px;overflow: hidden;width:275px;WORD-WRAP:break-word;TABLE-LAYOUT:fixed;word-break:break-all;}

/*弹窗样式修改000*/
.tcnewtop{margin-bottom:0;background:#f3f3f3;border-bottom:1px solid #ccc;line-height:35px;height:35px;}
.tcnewbd{background:#f3f3f3;border-bottom: 1px solid #CCCCCC;}
.tcnewtit{color:#1d70c0;}

.wx_title{border-bottom:1px solid #cccccc;font-size:14px;color:#ff6600;padding-top:5px;padding-bottom:5px;}
.position{padding:0 40px;position:relative; line-height:1.8;text-align:justify;}
.position em{display:inline-block;position:absolute; top:0; left:0;}
#wrap{background-color:#f3f3f3;border:1px solid #d0d1d3;margin:10px;min-height:500px;}
#wrap .Menu{height:48px;border-bottom:1px solid #d0d1d3;background:url(http://static.solaridc.com/project/51book_fx/wx/images/wx_bg.png) repeat-x;}
#wrap .Menu li{float:left;display:block;width:139px;height:48px;text-align:center;line-height:48px;font-size:14px;border-right:1px solid #d0d1d3;}
#wrap .Menu li.selected{background:url(http://static.solaridc.com/project/51book_fx/wx/images/wx_bg2.png) repeat-x;color:#fff;border:1px solid #47803d;margin:-1px 0 0 -1px;_margin:0;_height:46px;}
#wrap .Menu li.first{border-right:none;color:#206dc2;font-weight:bold;padding-left: 10px;text-align: left;}
.AccountBox{margin:10px;}
.AccountBox table td{padding:5px 10px;font-size:14px;}
.area_btn{display:block;}
.AccountBox .list{background-color:#e8e8e8;margin:12px 0;border-spacing:1px;border-collapse:inherit;}
.AccountBox .list th,.AccountBox .list td{background-color:#fff;text-align:center;padding:10px;}
.AccountBox .list th{background:url(http://static.solaridc.com/project/51book_fx/wx/images/wx_bg.png) repeat-x;color:#444444;}
.AccountBox .list td{color:#666865;font-size:12px;}
.AccountBox .list th.first,.AccountBox .list td.first{width:133px;}
.operatBox{margin-top:22px;}


/*新增关键字*/
/*.tcnewtop{background:none;border-bottom:1px solid #cccccc;padding:0 10px 5px 15px;}
.tcnewtit{color:#206dc1;font-size:14px;font-family:'宋体';}*/
.AddKeyword{padding: 10px; display:none;border-radius:5px 5px 5px 5px;}
.AddKeyword table{width:100%;}
.AddKeyword table th,.AddKeyword table td{padding:0 5px 33px 5px;}
.AddKeyword table th{ width: 100px; font-size:14px;text-align:right;vertical-align:top;padding-top:5px;}
.AddKeyword p{padding:5px 0;font-size:14px;}
.AddKeyword  .BtnBox input{margin-right:18px;}

/*消息自动回复*/
.Addauto{width:780px;padding:20px 0;}
.AutoReply th{font-size:14px;text-align:right;/*padding:20px 10px;*/font-size:14px;}
.AutoReply td .button{margin-right:20px;}
/*图文列表*/
.AccountBox .TabList th{font-size:14px;}
.AccountBox  .stitle{text-align:right;}
.AccountBox  .stitle .wx_title{border:none;margin:0 5px;}
.AccountBox .imgList {margin:10px 0;background:#CCC;}
.AccountBox .imgList th{text-align:center;height:35px;font-size:12px;background:url(http://static.solaridc.com/project/51book_fx/wx/images/wx_bg.png) repeat-x;}
.AccountBox .imgList td{background:#fff;text-align:center;font-size:12px;padding:10px;}
.SaveArea{margin-left:200px;}
/*QQ表情0*/

.ReplyBox {border:1px solid #cccccc;width:524px;border-radius:5px 5px 5px 5px;}
.ReplyBox .saytext{border:none;width:524px;height:80px;}
.ReplyBox .FaceArea{border-top:1px solid #e3e3e3;padding-top:5px;vertical-align:middle;}
.ReplyBox .num_txt{float:right; margin-right:10px;margin-top:5px;vertical-align:middle;color:#666666;}
.ReplyBox .num_txt .num{margin:0 5px;}
.ReplyBox .emotion{margin-top:5px;margin-left:5px;display:inline-block;background:url("http://static.solaridc.com/project/51book_fx/wx/images/wx_icon_01.png") no-repeat scroll 2px 2px;cursor: pointer;height: 20px;padding-left: 20px; width: 42px;}
.qqFace{background:#fff;border:1px solid #e8e8e8;z-index:9999;}
.qqFace img{margin:3px;cursor:pointer;}
/*自定义菜单*/
.AutoMenu .autoleft{float:left;width:50%;}
.AutoMenu  .MenuBox{margin:20px 10px 20px 0;background:#fff;border:1px solid #ccc;padding:10px;}
.AutoMenu  .MenuBox span.s_1{text-align:center;display:inline-block;line-height:2;font-size:16px;color:#555555;font-weight:bold;font-family:'微软雅黑'}
.AutoMenu  .ztree{width:330px;height:auto;}
.AutoMenu  ul.ztree{background:none;border:none;overflow:hidden;}
/*.AutoMenu  .ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}*/
/*ztree样式覆盖*/
.ztree li ul {padding:0;}
.ztree li a {height:34px;line-height:34px;font-family: '宋体';}
.ztree li span {height:34px;font-size:14px;line-height:34px;}
.ztree li a.curSelectedNode{height:34px;line-height:34px;}
.ztree li span.button.ico_docu,.ztree li span.button.ico_open{vertical-align:middle;}
.ztree li span.button.noline_open {
    background-position: -92px -77px;
}
.ztree li span.button{vertical-align:bottom;}
.ztree li span.button.edit{vertical-align:middle;background-position: -110px -49px;margin:0 13px;*margin:10px 13px;}
.ztree li span.button.remove{vertical-align:middle;background-position: -110px -65px;margin:0 13px;*margin:10px 13px;}
.ztree li span.button.add{vertical-align:middle;background-position: -144px -1px;margin:0 13px;*margin:10px 13px;}
/*.ztree .oop{margin-left:60px;}*/
.ztree li span.button.ico_close{vertical-align: middle; background-position: -110px -2px;}
.ztree li span.button.noline_close{ background-position: -74px -77px;}
/*ztree样式覆盖{结束}*/
.AutoMenu .autoright{border-left:1px solid #ccc;position:relative;background:url(http://static.solaridc.com/project/51book_fx/wx/images/wx_phone.png) no-repeat 18px 33px;width:50%;height:482px;float:left;margin-left:-1px;padding-top:20px;}
.AutoMenu .autoright .title{position:absolute;left:85px;top:63px;color:#fff;font-size:14px;width:179px;text-align:center;}
.AutoMenu .autoright .wx_menu{position:absolute;width:258px;left:59px;bottom:26px;font-family:'微软雅黑'}
.AutoMenu .autoright .wx_menu li{position:relative;float:left;display:block;width:86px;text-align:center;height:25px;line-height:25px;font-size:14px;color:#616161;cursor:pointer;}
.AutoMenu .autoright .wx_menu  em{margin-left:20px;}
.AutoMenu .autoright .wx_menu label{position:absolute;left:40px;bottom:38px;height:10px;width:10px;z-index:9999;display:none;background:url(http://static.solaridc.com/project/51book_fx/wx/images/icon_line2.gif) no-repeat 0 0px;}
.autoright .wx_menu li .childMenu{font-size:12px;background:#e6e6e6;border:1px solid #c7c7c7;border-radius:5px 5px 5px 5px;position:absolute;left:0;bottom:44px;width:90px;z-index:999;font-family:'微软雅黑'}
.autoright .wx_menu li .childMenu dd{height:30px;line-height:30px;background:url(http://static.solaridc.com/project/51book_fx/wx/images/icon_line.gif) no-repeat 0 29px;width:90px;}
/*添加自定义菜单*/
.AddMenu{width:550px;}
.AddMenu .ReplyBox,.AddMenu .saytext{width:450px;}
.AddMenu th,.AddMenu td{padding:8px 10px;}
.AddMenu th{font-size:14px;vertical-align:middle;white-space:nowrap;}
/*图文选择*/
.ChoiceBox .cell{ padding: 10px; margin: 10px; text-align: center; cursor:pointer;border:1px solid #cccccc;border-radius:5px 5px 5px 5px;}
.ChoiceBox .cell img.titlepage{width:250px;}
.ChoiceBox .cell h1{WORD-WRAP:break-word;TABLE-LAYOUT:fixed;word-break:break-all;}
.ChoiceBox .cell h1,.ChoiceBox .cell h2,.ChoiceBox .cell p{margin-left:10px;line-height:1.8;font-size:14px;}
.ChoiceBox .cell p{text-align:justify;height:32px; line-height: 32px; overflow:hidden;}
.ChoiceBox .cell p.icon{height:60px;}
.ChoiceBox .icon{width:60px;height:60px;position:absolute;text-align:center;}
.ChoiceBox .icon img{width:60px;height:60px;}
.ChoiceBox  .replyArea {padding-left:10px;padding-bottom:10px;border-top:1px solid #cccccc;}
.ChoiceBox  .replyArea .rtitle{display:inline-block;float:left;width:150px;line-height:2;font-size:14px;margin-top:12px;}
.ChoiceBox  .replyArea img{width:111px;height:84px;float:left;margin-left:15px;_display:inline;margin-top: 20px;}
.ChoiceBox  .opeart {border-top:1px solid #e3e3e3;}
.ChoiceBox  .opeart a{display:inline-block;width:45%;text-align:center;margin:8px 0;}
.ChoiceBox  .opeart img{width:24px;height:25px;} 

/*批量推送消息---新建群发消息*/
.messageBox .group{margin:0 10px;font-size:12px;}
.messageBox  select{width:100px;}
.messageBox  select.msgtype{width:150px;}
.AccountBox  .search{padding:10px 0;font-size:14px;}
.AccountBox  .search em{display:inline-block;margin-top:-10px;height:37px;line-height:30px;}
.AccountBox .green_btn{/*margin-left:15px;*/}

/*用户管理---我的粉丝*/
.AccountBox .group_read {height:42px;background-color:#E1E1E1;line-height:42px;padding:0 10px;border-bottom:1px solid #ccc;}
.AccountBox .group_read .left{float:left;}
.AccountBox .group_read .left  select{width:120px;}
.AccountBox .group_read .right{float:right;}
 .AccountBox .group_read  select{width:120px;_margin-top:1 0px;}
.AccountBox .fansLeft{float:left;width:640px;}
.AccountBox .fansRight{float:left;margin-left:15px;_display:inline;border:1px solid #ccc;width:182px;font-family:'微软雅黑';}
.AccountBox .fanslist th{background:#f0f0f0;height:32px;border-bottom:2px solid #CCCCCC;padding-left:10px;font-family:'微软雅黑'}
.AccountBox .fanslist td{border-bottom:1px solid #E6E6E6;}
.AccountBox .fanslist .chk{vertical-align:middle;margin-right:5px;}
.AccountBox .fanslist td .imgs{width:50px;height:50px;border:1px solid #ccc;}
.AccountBox .fanslist td .info{position:relative;}
.AccountBox .fanslist .describeInfo{width:200px;border:1px solid #D3D3D3;border-bottom:none;position:absolute;left:54px;top:-52px;z-index:999;background-color:#fff;}
.fanslist .describeInfo dt,.fanslist .describeInfo dd{border-bottom:1px solid #D3D3D3;padding:5px 12px;}
.fanslist .describeInfo dt{background:#EEEEEE;font-weight:bold;color:#7B7B7B;}
.fanslist .describeInfo dd{line-height:1.5;}
.fanslist .describeInfo dd .groups{width:100px;border:1px solid #666;}
.AccountBox .fansRight dt{background-color:#d6d6d6;height:33px;line-height:33px;border-bottom:1px solid #CCCCCC;padding-left:20px;font-size:14px;}
.AccountBox .fansRight dd{padding-left:30px;line-height:30px;}
.AccountBox .fansRight .AddtxtArea{border-radius:3px 3px 3px 3px;margin: 5px 15px 18px;padding:4px 10px;border:1px solid #ccc;position:relative;background:#fff;}
.AccountBox .fansRight .AddtxtArea input{width:100px;border:none;height:25px;}
.append{background:url(http://static.solaridc.com/project/51book_fx/wx/images/icon_arrow2.gif) no-repeat;position:absolute;right:10px;top:10px;width:16px;height:14px;}
.AccountBox .fansRight .addNewgroup{cursor:pointer;border-top:1px solid #ccc;margin:0 15px;padding:10px 35px;font-size:14px;background:url(http://static.solaridc.com/project/51book_fx/wx/images/icon_plus.gif) no-repeat 15px 14px;height:14px;}
.AccountBox .fansRight .blackName{background-color:#F0F0F0;height:34px;padding-left:20px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;line-height:34px;font-size:14px;}
.AccountBox .fansRight ul.blacklist li{height:25px;line-height:25px;padding:5px 0 5px 30px;}
.gname{width:70px;border:none;height:20px;background:#F0F0F0;font-family:'微软雅黑';}
/*添加备注*/
.EditName{text-align:center;padding:50px 10px;}
.EditName .ipttxt{text-align:left;}
.EditName p{margin:20px 0;padding-top:20px;border-top:1px solid #ccc;}


/*图文消息*/
.photoInfo  {margin:1%;}
.photoInfo .photoLeft{float:left;width:30%;margin-right:14px;}
.photoInfo .photoRight{width:55%;float:left;border-left:1px solid #ccc;position:relative;padding-left:1%;}
.photoInfo .photoRight th,.photoInfo .photoRight td{padding-top:22px;padding-bottom:22px;padding-right:5px;}
.photoInfo .photoRight th{width:10%;}
.photoInfo .photoRight td{width:50%;}
.photoInfo .photoRight  .txtA{width:100%;height:100px;}
.photoInfo .photoRight .ipttxt{width:100%;}
.photoList{border:1px solid #ccc;background-color:#f9fbfc;}
.photoList dt{padding:10px 11px 0 11px;font-size:14px;line-height:1.5;}
.photoList dt  span.ImgBox{display:block;position:relative;border:1px solid #ccc;background:#f1f1f1;width:100%;height:154px;margin-top:5px;margin-bottom:5px;}
.photoList dt  span.ImgBox  img{width:100%;height:154px;}
.photoList dt  span.ImgBox .edit{position:absolute;left:50%;top:68px;width:24px;height:25px;}
.photoList dt p{padding:10px 0;width:254px;height:118px;overflow:hidden;}
.photoList dd{border-top:1px solid #ccc;height:145px;}
.photoList dd p{padding:10px 11px 10px 11px;}
.photoList dt  .stitle{width:254px;WORD-WRAP:break-word;TABLE-LAYOUT:fixed;word-break:break-all;font-size:14px;height:75px;overflow:hidden;padding-top:5px;line-height:1.3;}
.photoList dd .stitle{display:inline-block;width:150px;WORD-WRAP:break-word;TABLE-LAYOUT:fixed;word-break:break-all;font-size:14px;height:78px;overflow:hidden;line-height:1.8;}
.photoList dd img.smallImg{width:95px;height:74px;border:1px solid #ccc;}
.photoList .AddPhoto {border-top:1px solid #ccc;}
.photoList .AddPhoto span{display:block;cursor:pointer;border:3px dashed #ccc;border-radius:5px 5px 5px 5px;padding:30px 0;text-align:center;margin:10px;background:url(http://static.solaridc.com/project/51book_fx/wx/images/icon_plus.gif) no-repeat center;}
.photoList .opeart {border-top:1px solid #e3e3e3;margin-bottom:5px;}
.photoList  .opeart a{display:inline-block;width:130px;text-align:center;margin:8px 0;}
.photoList .opeart img{width:24px;height:25px;} 

/*解除绑定页面信息*/
.pointBox{display:block;background:url(http://static.solaridc.com/project/51book_fx/wx/images/checktrue.gif) no-repeat;height:60px;line-height:4.2;padding-left:80px;font-size:16px;}
.bindMsg{margin-top:30px;}
.bindMsg th{width:200px;text-align:right;font-size:14px;}
.middle{vertical-align:middle;margin-right:4px;}

/*公众管理账号*/
.addNO{padding:10px 0px;}
.addNO .button{margin-left:0;}
.searchTab{border:1px solid #ccc;}
.searchTab th{text-align:left;width:65px;}
.AccountBox  table.searchTab th, table.searchTab  td{padding:5px 3px;}
.searchTab td .ipttxt{width:100px;height:20px;}
.searchTab td .seltype{width:100px;}
/*消息群发*/
.msgobject{padding:10px 0;}
.msgobject span em{display:inline-block;height:20px;vertical-align:top;line-height:20px;margin-top:3px;}
.msgobject span .ipttxt{width:80px;height:20px;}
.viptype{padding:5px 0;}
.contents .ReplyBox,.contents  .ReplyBox .saytext{width:545px;}
.operateBtn{padding:15px 0;vertical-align:middle;line-height:30px;}
.hour_24{height:20px;display:inline-block;vertical-align:top;margin-top:3px;}
.hour_24 input{vertical-align:middle;}
.tabSwitchBox .tabSwitchBoxHead {background-color:#6CAE61;width:512px;margin:5px 0;overflow:inherit;}
.searchType .radio{margin-right:10px;}
.searchType .ipttxt{width:150px;height:20px;}
.product_list{margin-bottom:10px;}
.product_list .chk{vertical-align:middle;margin-right:5px;}
/*详情页*/
#d_wrap{width:100%;margin:0 auto;font-family:'微软雅黑';font-size:14px;}
#d_wrap .orange{color:#da832e;}
#d_wrap .d_title{background-color:#1875c6;padding-right:32px;color:#fff;font-size:22px;text-align:right;height:78px;line-height:78px;}
#d_wrap .d_title em{font-size:30px;}
#d_wrap .d_content{padding:10px;}
#d_wrap .d_content .t_img{margin:0 auto;width:100%;height:auto;}
#d_wrap .d_content img{margin:0 auto;width:100%;height:auto;}
#d_wrap .small_title{margin-top:13px;margin-bottom:11px;line-height:28px;color:#9e7328;font-size:18px;background:url(http://static.solaridc.com/project/51book_fx/wx/images/wx_bg4.png) repeat-x;height:34px;padding:5px 22px;border:1px solid #e5cd62;border-radius:5px;}
#d_wrap .small_title em{font-size:30px;}
#d_wrap .location_hotel {border:1px solid #00a5ea;border-radius:5px;padding-left:19px;padding-top:8px;padding-bottom:10px;}
#d_wrap .location_hotel p{line-height:1.5;}
#d_wrap .location_hotel .location{font-size:16px;}
#d_wrap .location_hotel .scape{color:#4691d1;font-size:16px;}
#d_wrap .location_hotel .hotel{font-size:18px;}
/*#d_wrap .list{background-color:#e8e8e8;margin:12px 0;border-spacing:1px;border-collapse:inherit;}
#d_wrap .list th,#d_wrap .list td{background-color:#fff;text-align:center;padding:5px;color:#000;}
#d_wrap .list th{background:url(http://static.solaridc.com/project/51book_fx/wx/images/wx_bg.png) repeat-x;}
#d_wrap .list td{font-size:12px;}*/
#d_wrap .air_line{padding-left:11px;line-height:2.5;font-family:'宋体';}
#d_wrap .air_line h1{font-size:14px;color:#4175ba;}
#d_wrap .air_line h2{color:#4175ba;font-size:14px;}
#d_wrap .air_line p{color:#808080;}
#d_wrap .times img{margin-top:10px;width:100%;height:auto;}
#d_wrap .share_content{border:1px solid #dddddd;background-color:#f7f7f7;text-align:center;padding:17px 0;}
#d_wrap .share_content p{color:#fe5487;font-size:18px;padding:5px 0;}
#d_wrap .subject_content{padding:8px 10px 19px 10px;border-radius:5px;border:1px solid #00a5ea;line-height:2.3;color:#808080;text-align:justify;}
#d_wrap .subject_content img{width:100%;height:auto;}
#d_wrap .list{margin:12px 0;display: table;width: 100%;border:1px solid #dbdbdb;border-bottom:none;border-right:none;}
#d_wrap .list dd.item, .list dt.item { display: table-row;font-size:14px;white-space:nowrap;}
#d_wrap .list dt.item{background: url("http://static.solaridc.com/project/51book_fx/wx/images/wx_bg.png") repeat-x;}
#d_wrap .list dd.item .cell, .list dt.item .cell {
    border-bottom: 1px solid #DEDEDE;
    border-top: 1px solid #FFFFFF;
    display: table-cell;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
	border-right:1px solid #dbdbdb;
}
#d_wrap .list dd.item  .col1{padding-left:3px;}
#d_wrap .list dd.item  .col1 a{display:block;width:230px;text-direction:none;color:#3089E1;height:30px;text-align:left;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
/***   微活动 by xiejun@51book.com 2014/05/19
****************************************************************************/
/***   新建列表
****************************************************************************/
.whd-new-hd { width: 100%; border-collapse:collapse; border-spacing:0; font: 12px/1.5 'Microsoft YaHei'; background-color: #fff; }
.whd-new-hd,.whd-new-hd td { border: 1px #ccc solid; }
.whd-new-hd .star { color: red; padding-right: 3px; }
.whd-new-hd-title { width: 140px; text-align: right; }
.whd-new-hd-radio { margin-right: 10px; }
.whd-new-hd-radio input { position: relative; top: 2px; right: 3px; }
.whd-new-btn { text-align: center; margin-top: 20px; }
.whd-new-btn a { display: inline-block; width: 120px; height:30px; line-height: 30px; margin: 0 20px; vertical-align: top; border-radius: 3px; }
.whd-new-btn a:hover { text-decoration: none; }
.whd-new-btn-save { background-color: #ff8100; color: #fff; border: 1px #ff6600 solid; }
.whd-new-btn-save:hover { background-color: #ea7701; }
.whd-new-btn-off { background-color: #fafafa; color: #666; border: 1px #bcbcbc solid;  }
.whd-new-btn-off:hover { background-color: #f9f0f0; }
.whd-new-hd-input { width: 50%; padding: 0 5px; }
/***    活动列表
*************************************************************************/
.whd-new-list {margin-top:10px; width: 100%; border-collapse:collapse; border-spacing:0; font: 12px/1.5 'Microsoft YaHei'; background-color: #fff; text-align: center; }
.whd-new-list,.whd-new-list th,.whd-new-list td { border: 1px #ccc solid; }
.whd-new-list th { font-weight: bold; background-color: #f3f3f3; line-height: 30px; }
.whd-new-list-opt a { text-decoration: none; display: inline-block; vertical-align: top; padding: 0 5px; border: 1px #ccc solid; border-radius: 3px; }
.whd-new-list-sign tr:nth-child(2n+1) { background-color: #f3f3f3; }

/* 2014/08/19 XieJun，content:我是推荐王 */
.z-referral-ipt { width: 120px; font-size: 14px; margin: 0 5px; padding: 3px 5px; }

/* 2014/09/03 XieJun */
.g-mb5 { margin-bottom: 5px; }
.g-mb10 { margin-bottom: 10px; }
.g-input { width:49%; padding: 5px 0 0 1%; border: 1px solid #cfcfcf; border-radius: 3px; }
.g-width200 { width:200px; padding: 5px 1%; border: 1px solid #cfcfcf; border-radius: 3px; }
/*发布预览手机页面*/
.pop{display:none;width:100%;opacity:0.5;filter:alpha(opacity=50);height:100%;background:#000;position:absolute;left:0;top:0;}
.previewbox{position:absolute;z-index:9999;top:10px;background:url(http://static.solaridc.com/project/51book_fx/wx/images/iphone6.png) no-repeat;width:391px;height:794px;color:#7c7c7c;font-family:'微软雅黑'}
.previewbox .box{position:relative;}
.previewbox .content{font-size:12px;line-height:1.6;text-align:justify;padding:0 5px;position:absolute;top:244px;left:47px;background:#fff;width:296px;height:118px;border:1px solid #cccccc;margin:10px auto;overflow:auto;}
.previewbox .datebox{position:absolute;left:160px;top:385px;height:15px;line-height:15px;font-size:16px;font-family:'微软雅黑'}
.previewbox .moneybox{position:absolute;left:160px;top:407px;height:15px;}
.previewbox .address{position:absolute;left:66px;top:446px;height:20px;}
.previewbox .off{cursor:pointer;display:inline-block;background:url(http://static.solaridc.com/project/51book_fx/wx/images/off.png) no-repeat;height:36px;width:36px;position:absolute;right:-29px;text-align:right;top:8px;}
/*手机活动简介预览*/
.desribebox,.keywordbox{position:absolute;z-index:9999;top:10px;width:422px;height:699px;color:#7c7c7c;}
.desribebox{background:url(http://static.solaridc.com/project/51book_fx/wx/images/wx_phone2.png) no-repeat;}
.desribebox p,.keywordbox p,.desribebox h1,.keywordbox h1{margin:0;}
.desribebox .d-box,.keywordbox .d-box{position:relative;}
.desribebox .content{width:230px;position:absolute;left:433px;top:252px;font-size:12px;line-height:2;color:#fff;} 
.desribebox h1,.keywordbox  h1{font-size:14px;font-weight:normal;margin:0;}
.desribebox input.green-btn,.keywordbox input.green-btn{background-color:#00b79f;padding:5px 15px;border:0 none;color:#fff;font-size:14px;cursor:pointer;}
.keywordbox{background:url(http://static.solaridc.com/project/51book_fx/wx/images/wx_phone1.png) no-repeat;}
.keywordbox .content{width:230px;position:absolute;font-size:12px;line-height:2;left:433px;top:337px;color:#fff;}